/* .about {
  position: relative;
} */

.inside_wrapper .text {
  text-align: center;
}

.text h3 {
  text-transform: uppercase;
  font-family: var(--font-first);
}

.text p {
  font-family: var(--font-second);
  font-size: var(--text-sm);
}

.stain {
  position: absolute;
  top: 77%;
  left: 10%;
  width: 73px;
  height: auto;
  transform: rotate(123deg);

  display: none;
}

.about_container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 200px) {
  #about container {
    /* margin: 0 auto; */
    width: 100%;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hexagon-1,
  .hexagon-2,
  .hexagon-3 {
    width: 80vw;
    height: 32vh;
    background: var(--white);
    margin-top: 5vh;
    border-radius: 15px;
  }
  .inside_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .hexagon .inside_wrapper svg {
    display: none;
  }
  .inside_wrapper .text {
    padding: 10px;
  }
}
@media (min-width: 320px) {
  .hexagon .inside_wrapper svg {
    display: block;
    width: 40px;
    height: auto;
  }
  .inside_wrapper h3 {
    margin: 1rem 0;
  }
}

@media (min-width: 480px) {
  .hexagon .inside_wrapper {
    transform: rotate(90deg);
    content: "";
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hexagon-1,
  .hexagon-2,
  .hexagon-3 {
    width: 49vw;
    height: 59vw;
    clip-path: var(--hexagon);
    transform: rotate(-90deg);
    border-radius: unset;
  }
  .inside_wrapper .text {
    text-align: center;
    width: 80%;
    height: auto;
  }
  .about {
    height: auto;
  }
}

@media (min-width: 600px) {
  .text p {
    font-size: var(--p);
  }
}

@media (min-width: 768px) {
  .text p {
    font-family: var(--font-second);
    font-size: var(--p);
  }
  /* .hexagon .inside_wrapper {
    flex-direction: row;
  } */

  .hexagon .inside_wrapper svg {
    width: 3rem;
  }
}

@media (min-width: 1000px) {
  .about_container {
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    align-items: center;
    /* hexagon shadow on the background */
    filter: drop-shadow(-3px 5px 4px rgba(156, 106, 41, 0.5));
  }

  .about {
    height: 100vh;
  }

  .stain {
    display: block;
  }
  .hexagon-1,
  .hexagon-2,
  .hexagon-3 {
    height: 388px;
  }

  .hexagon-1 {
    transform: translateY(22%) rotate(-90deg);
  }

  .hexagon-2 {
    transform: translateY(-20%) rotate(-90deg);
  }

  .hexagon-3 {
    transform: translateY(22%) rotate(-90deg);
  }
}

@media (min-width: 1200px) {
  .hexagon .inside_wrapper svg {
    width: 4rem;
  }

  .hexagon-1,
  .hexagon-2,
  .hexagon-3 {
    height: 484px;
    width: 406px;
  }
}
