
/* .about {
  position: relative;
} */

.inside_wrapper .text {
  text-align: center;
}

.text h3 {
  text-transform: uppercase;
  font-family: var(--font-first);
}

.text p {
  font-family: var(--font-second);
  font-size: var(--text-sm);
}
/* .hexagon-3 {
  position: relative;
  z-index: -5;
} */

.stain {
  position: absolute;
  top: 77%;
  left: 10%;
  width: 73px;
  height: auto;
  transform: rotate(123deg);

  display:none;
}


@media (min-width: 200px) {

  .about_container {
    /* margin: 0 auto; */
    width: 100%;    
    /* display: grid; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
    /* grid-auto-rows: min-content;
    grid-auto-columns: 1fr; */

  }
  .hexagon-1,
  .hexagon-2,
  .hexagon-3 { 
    width: 80vw;
    height: 32vh;
    background: var(--white);  
    justify-self: center;
    margin-top: 1vh;
    border-radius: 15px;
  }
  .inside_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .hexagon .inside_wrapper svg {   
    display: none;
  }
  .inside_wrapper .text {
    padding: 10px;
  }
  /* .inside_wrapper h3 {
    margin: .5rem 0;
  } */
}
@media (min-width: 320px) {
  /* .about_container {
    display: flex;
    margin: 0 auto;
    width: 100%;     */
    /* display: grid;
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr; */

  
  .hexagon .inside_wrapper svg {
    display: block;
    width: 40px;
    height: auto;
  }
  .inside_wrapper h3 {
    margin: 1rem 0;
  }
}

@media (min-width: 480px) {
  .hexagon .inside_wrapper {
    transform: rotate(90deg);
    content: "";
    position: absolute;
  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hexagon-1,
  .hexagon-2,
  .hexagon-3 { 
  
    width: 49vw;
    height: 59vw;
    clip-path: var(--hexagon);
    transform: rotate(-90deg);
 
}
.inside_wrapper .text {
  text-align: center;
  width: 80%;
  height: auto;
}
.about {
  height: auto;

}
}

@media (min-width: 600px) {
  .text p {
   
    font-size: var(--p);
  }
}

@media (min-width: 768px) {
  .about_container {
    height: 100%;
    align-items: center;
    flex-direction: row;
  }
  
  .text p {
    font-family: var(--font-second);
    font-size: var(--p);
  }
  /* .hexagon .inside_wrapper {
    flex-direction: row;
  } */
  
  .hexagon .inside_wrapper svg {
    width: 3rem;
    
  }
  .about {
    height: 100vh;
  
  }
  
  
  /* hexagon shadow on the background */
  
  .about_container {
    display: flex;
    filter: drop-shadow(-3px 5px 4px rgba(156, 106, 41, 0.5));
    position: relative;
  }
  
  .hexagon-1,
  .hexagon-2,
  .hexagon-3 { 
    height: 40vw
}


.hexagon-1 { 
  transform: translateY(22%) rotate(-90deg);

}

.hexagon-2 {
  transform: translateY(-20%) rotate(-90deg);
}

.hexagon-3 {
  transform: translateY(22%) rotate(-90deg);
}

}
@media (min-width: 1000px) {
  
  .stain { 
    display: block;
   
  }
}

@media (min-width: 1200px) {
  
  .hexagon .inside_wrapper svg {
    width: 4rem;
  }

 
  .hexagon-1,
  .hexagon-2,
  .hexagon-3 { 
    height: 484px;
}

}
