/* COLOR VARIABLES */
:root {
  --black: #333333;
  --gray-dark: #4f4f4f;
  --gray-light: #e0e0e0;
  --bg: #F8F8F8;
  --white: #F2F2F2;
  --yellow: #FBD965;
  --gold: #f2c94c;
  --orange: #F2994A;
  --green-light: #6fcf97;
  --green-dark: #27AE60;


  /* SHADOW VARIABLES */

  --orange-shadow: -10px 10px 20px #9C6A29;
  --black-shadow: -10px 20px 50px rgba(0, 0, 0, 0.25);

  /* FONT VARIABLES */


  font-family: 'Courgette', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Original Surfer', cursive;

  /* --font-first: "original surfer", cursive;
    --font-second: 'courgette', sans-serif;
    --font-third:'Open Sans', sans-serif; */
  --font-first: "patua one", cursive;
  --font-second: 'sansita', cursive;
  --font-third: 'courgette', sans-serif;


  /* my screen resolution */
  /* width */
  --sw: 1440px;
  /* heigth */
  --sh: 825px;

  /* HEXAGONS */

  --hexagon: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}
section {
  /* border: 1px  solid black; */
}

.btn {
  
  font-family: var(--font-third);
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--h5);
  width: 8rem;
  height: 2.5rem;   
  border-radius: 25px;  
  padding: .3rem;
  cursor: pointer;
  box-shadow: -10px 20px 50px rgba(0, 0, 0, 0.25);

}
@media (min-width: 200px) {
  
  .btn {
    width: 7rem;
    height: 2rem;   
    border: 1px solid var(--black);
    padding: .2rem;
    font-size: var(--text-sm);
   
  }
}

@media (min-width: 480px) {
  .btn {
    width: 8rem;
    height: 2.5rem;   
    border: 1px solid var(--black);
    padding: .3rem;
}
}

@media (min-width: 768px) { 
  .btn {
    width: 10rem;
    height: 3rem;
    border-width: 2px;
    font-size: var(--p);
  }
}

