/* COLOR VARIABLES */
:root {
  --black: #333333;
  --gray-dark: #4f4f4f;
  --gray-light: #e0e0e0;
  --bg: #F8F8F8;
  --white: #F2F2F2;
  --yellow: #FBD965;
  --gold: #f2c94c;
  --orange: #F2994A;
  --cream: #e0ca81;  
 
  --gradient: radial-gradient( 50% 50% at 50% 50%, #f5de93 57.81%, #e0ca81 97.4% );


  /* SHADOW VARIABLES */

  --orange-shadow: -10px 10px 20px #9C6A29;
  --black-shadow: -10px 20px 50px rgba(0, 0, 0, 0.25);

  /* FONT VARIABLES */


  font-family: 'Courgette', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Original Surfer', cursive;

 
  --font-first: "patua one", cursive;
  --font-second: 'sansita', cursive;
  --font-third: 'courgette', sans-serif;

  /* HEXAGONS */

  --hexagon: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}


section:not(.footer) {
  /* border: 1px  solid black; */
  /* height: 800px; */
  min-height: 800px;

}
.header {
  text-align: center;
}

.btn {
  
  font-family: var(--font-third);
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--h5);
  /* width: 8rem; */
  /* height: 2.5rem;    */
  border-radius: 25px;  
  /* padding: .3rem; */
  cursor: pointer;
  box-shadow: -10px 20px 50px rgba(0, 0, 0, 0.25);

}
@media (min-width: 200px) {
  
  .btn {
  
    border: 1px solid var(--black);
 
    font-size: var(--text-sm);
   
  }
  a {
    padding: .5rem 1rem;
  }
}

@media (min-width: 480px) {
  .btn {
 
    border: 1px solid var(--black);
   
}
a {
  padding: .8rem 1.5rem;
}
}

@media (min-width: 768px) { 
  .btn {
   
    border-width: 2px;
    font-size: var(--p);
  }
  a {
    padding: .8rem 1.8rem;
  }
}

.hexagon-bg::before,
.hexagon-bg-2::before,
.hexagon-bg-3::before
{

  background: var(--gradient);
   width: 1812.744px;
  height: 2118.792px; 
  clip-path: var(--hexagon);
  transform: rotate(-90deg);
}
.gallery_bigImage::after
 {
  background: var(--gradient);
  
  --difference: 14.55%;
    --width: 125.855vw;
 width: var(--width);
 height: calc(var(--width) + var(--difference)); 
  clip-path: var(--hexagon);
  transform: rotate(-90deg);

 }
 @media (min-width: 1000px) { 
   .btns .btn-dark {
     margin-right: 5rem;
   }
 }
