.contact-header {
  /* font-size: var(--h4); */
  color: var(--black);
}

.contact-header span {
  color: var(--black);
  font-weight: bold;
  font-family: var(--font-second);
}

.contact {
  position: relative;
}

.contact-left {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}


.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-form {
  background-color: var(--gray-dark);
  width: 500px;
  max-width: 500px;
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: var(--black-shadow);
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 19.5px;
  line-height: inherit;
  color: var(--white);
  border: 0;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  
  margin-bottom: 0.5rem;
  font-family: var(--font-second);
  color: var(--white);
}

.input-group input {
  outline: none;
  background: var(--gray-light);
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  border-radius: 5px;
  border: 1px solid var(--black);
}

.input-group textarea {
  outline: none;
  background: var(--gray-light);
  color: inherit;
  font-size: var(--p);
  border-radius: 5px;
  border: 1px solid var(--black);
}

.input-group input.btn-form {
  background: var(--cream);
  color: var(--black);
  width: 100%;
  border: none;
  font-size: var(--h5);
  border-radius: 5px;
}

.input-group input.btn-form:hover,
.input-group input.btn-form:focus {
  background: var(--black);
  color: var(--white);
 
}

.input-group input:focus,
.input-group textarea:focus
 {
  background-color: var(--cream);
}

@media (max-width: 1100px) {
  .contact-form {
    width: 500px;
    max-width: 500px;
    padding: 1.5rem 2.5rem;
  }
}
@media (max-width: 900px) {
  .contact {
    flex-direction: column;
    justify-content: center;
  }

  .contact-form {
    width: 60vw;
    max-width: 60vw;
    max-width: inherit;
    margin: 2rem 0;
  }

  .contact-left svg {
    display: none;
  }
}
@media (max-width: 768px) {
  .contact-form {
    width: 65vw;
  }
}
@media (max-width: 600px) {
  .contact-form {
    padding: 1rem 2rem;
  }

  .input-group {
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .contact-form {
    width: 90vw;
    max-width: 85vw;
    padding: 1rem 1rem;
  }

  .input-group label {
    font-weight: normal;
    margin-bottom: 0;
  }
}
/* styling background triple hexagons */
@media (min-width: 1100px) {  


  .contact_container {
    filter: drop-shadow(-3px 5px 4px rgba(156, 106, 41, 0.5));
    /* width: 100%;
    height: auto; */
    transform: rotate(5deg);
  }
  .hexagon-small-4,
  .hexagon-small-5,
  .hexagon-small-6 {
    position: absolute;
    width: 19vw;
    height: 22vw;   
    clip-path: var(--hexagon);
    background: var(--white);
    transform: rotate(-90deg);
  }

  .hexagon-small-4 {
    right: 36vw;
top: -21vw;
  }

  .hexagon-small-5 {
    right: 18vw;
    top: -11vw;
} 
  

  .hexagon-small-6 {
    right: 36vw;
top: -1vw;
  }



}
