.contact-header {
  font-size: var(--h4);
  color: var(--black);
}

.contact-header span {
  color: var(--green-dark);
  font-weight: bold;
  font-family: var(--font-second);
}

.contact {
  position: relative;
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-left svg {
  /* position: absolute; */
  width: 10vw;
  height: auto;
  /* bottom: 60%;left: 27%;
z-index: -1; */
  transform: rotate(-50deg);
  /* transform: scaleX(-1) rotate(-45deg); */
  opacity: 80%;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-grow: 1; */
}

.contact-form {
  background-color: var(--green-dark);
  width: 40vw;
  max-width: 40vw;
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: var(--black-shadow);
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 19.5px;
  line-height: inherit;
  color: var(--black);
  border: 0;
}


.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: .5rem;
  font-family: var(--font-second);
}

.input-group input {
  outline: none;
  background: var(--gray-light);
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
  border: 1px solid var(--green-dark);
}

.input-group textarea {
  outline: none;
  background: var(--gray-light);
  color: inherit;
  font-size: var(--p);
  border-radius: 5px;
  border: 1px solid var(--green-dark);
}

.input-group input.btn-form {
  background: var(--gray-dark);
  color: var(--white);
  width: 100%;
  border: none;
  font-size: var(--h5);
  border-radius: 5px;
  ;
}

.input-group input.btn-form:hover,
.input-group input.btn-form:focus {
  background: var(--black);
}

.input-group input:focus,
.input-group textarea:focus,
.input-group input.btn-form:focus {
  border: 1px solid var(--black);
}


@media (max-width: 900px) {
  .contact {
    flex-direction: column;
    justify-content: center;
  }

  .contact-form {
    width: 65vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}
