/* https://alligator.io/css/cropping-images-object-fit/ */

section.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-bg-2::before {
  content: "";
  position: absolute;
  left: 31.03%;
  right: 0.95%;
  top: -83%;

  z-index: -1;
}

.gallery-wrapper {
  justify-content: center;
  align-items: center;
}

.gallery_icons {
  display: flex;

  justify-content: space-evenly;

  filter: drop-shadow(-3px 5px 4px rgba(156, 106, 41, 0.5));
}
ul.gallery_icons {
  /* reset browser agent style*/
  padding: 0;
}

.gallery_bigImage img {
  /* min value of section */

  width: auto;
  height: 60vw;
}

.gallery_icon a img {
  width: 45px;
  height: 45px;
  border: 2px solid var(--black);
  background-position: center;
  border-radius: 50%;
}
ul.gallery_icons {
  list-style: none;
}

.gallery_icons img.active-icon {
  box-shadow: 0 0 0 3px var(--white), 0 0 3px 6px var(--green-dark);
}

.gallery_icon img {
  width: 191px;
  height: 220px;
  fill: cover;
}

#image-chosen {
  object-fit: scale-down;
}

@media (min-width: 480px) {
  .gallery_icon a img {
    width: 55px;
    height: 55px;
    flex-grow: 1;
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  #image-chosen {
    clip-path: polygon(
      38.31% 0.02%,
      98.55% 0px,
      98.64% 100.57%,
      41.41% 100.23%,
      21.48% 50%
    );

    object-fit: scale-down;
    object-position: 50% 50%;
  }
  ul.gallery_icons {
    flex-direction: column;
    order: 1;
  }
  .gallery_bigImage {
    order: 2;
  }
  .gallery_bigImage img {
    width: 100%;
  }
}
