

/* https://alligator.io/css/cropping-images-object-fit/ */

section.gallery {
 
position: relative;
}


.hexagon-bg-2::before {
  content: "";
  position: absolute;
  left: 31.03%;
  right: 0.95%;
  /* place in the middle of section gallery */
  /* oblicz top dzielac width/ height a potem na krzyz 1.33 - 15pkt w dol ratio - x  */
  /* --ratio :  */
  top: -83%;
  bottom: -353.14%;
  width: 1812.744px;
  height: 2118.792px;
  clip-path: var(--hexagon);

  transform: translateX(-922px);
  background: radial-gradient(50% 50% at 50% 50%, #FBD965 57.81%, #FBD965 97.4%);

  transform: rotate(-90deg);
  z-index: -1;
}

.gallery_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  filter: drop-shadow(-3px 5px 4px rgba(156, 106, 41, 0.5));
  margin-left: 3rem;

}

.gallery_icon {

  width: 6vw;
  height: 6vw;
  border: 2px solid var(--black);
  background-position: center;
  border-radius: 50%;
}
.img-1 {
  background-image: url(/img/img1_small.jpg);
}
.img-2 {
  background-image: url(/img/img2_small.jpg);
}
.img-3 {
  background-image: url(/img/img3_small.jpg);
}
.img-4 {
  background-image: url(/img/img4_small.jpg);
}
.img-5 {
  background-image: url(/img/img5_small.jpg);
}
.img-6 {
  background-image: url(/img/img6_small.jpg);
}

/* change size the chosen one */
.active-icon {
width: 7.5vw;
height: 7.5vw;
border-color: var(--gold);
}

.gallery_icon image{
  width: 191px;
  height: 220px;
fill: cover;
}

.gallery_bigImage {
  flex-grow: 1;


}

#image-chosen {
 
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  clip-path: polygon(41% 5%, 95% 35px, 95% 95%, 41% 95%, 23.06% 49.79%);

}



@media (max-width: 800px) {
  section.gallery {
 
    flex-direction: column;
    }
    .gallery_icons {
 
      flex-direction: row;
     
      order: 2;
      margin-bottom: 5%;

  }
  #image-chosen {
 
    position: absolute;
    /* the old way to center an image */
    top:50%;
    left: 50%;
    /* -55 because of 5% margin-bottom for gallery-icons */
    transform: translate(-50%, -55%);
    margin-bottom: 2rem;
    width: 80%;
    height: 50%;
    clip-path: none;
  }

  .gallery_icon {
   
    width: 60px;
    height: 60px;

}
.active-icon {
  width: calc(60px + 5px);
  height: calc(60px + 5px);
  
 
  }

  .gallery_icons {
    flex-flow: row wrap;
    justify-content: space-evenly;
   margin-left: 0;
  
}
@media (max-width: 480px) {
  #image-chosen {
    width: 90%;
    height: 40%;
  }
  .gallery_icons {
 
    display: flex;
    flex-flow: row wrap;
    height: 10rem;
    position: absolute;
    bottom: 0%;
    left: 5%;
  
    margin: 10%;

    
  }
  .gallery_icon {
    margin-right: 3rem;
    width: 50px;
    height: 50px;
}
.active-icon {
  width: calc(50px + 5px);
  height: calc(50px + 5px);
  
 
  }

}
@media (max-width: 320px) {
  #image-chosen {
   
    height: 40%;
  }
}
