/* https://alligator.io/css/cropping-images-object-fit/ */

section.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon-bg-2::before {
  content: "";
  position: absolute;
  left: -50.97%;
  right: 0.95%;
  /* top: -126%; */
  top: -85%;
  z-index: -1;
}


.gallery-wrapper {
  justify-content: center;
  align-items: center;
}

.gallery_icons {
  display: flex;

  justify-content: space-evenly;

  filter: drop-shadow(-3px 5px 4px rgba(156, 106, 41, 0.5));
}
ul.gallery_icons {
  /* reset browser agent style*/
  padding: 0;
}

.gallery_bigImage img {
  /* min value of section */

  width: auto;
  height: 60vw;
}

.gallery_icon a img {
  width: 45px;
  height: 45px;
  border: 2px solid var(--black);
  background-position: center;
  border-radius: 50%;
}
ul.gallery_icons {
  list-style: none;
}

.gallery_icons img.active-icon {
  box-shadow: 0 0 0 3px var(--white), 0 0 3px 6px var(--green-dark);
}

.gallery_icon img {
  width: 191px;
  height: 220px;
  fill: cover;
}

#image-chosen {
  object-fit: scale-down;
  border-radius: 5px;
}

@media (min-width: 480px) {
  .gallery_icon a img {
    width: 55px;
    height: 55px;
    margin: 1rem;
  }
}

@media (min-width: 768px) {


  section.gallery {
    position: static;
  }
  #image-chosen {
    /* for positioning hexagon-bg-2 */
    /* position: relative; */
    clip-path: polygon(40% 0%, 99% 0%, 99% 99%, 40% 99%, 15% 50%);

    object-fit: scale-down;
    object-position: 50% 50%;
  }
  ul.gallery_icons {
    flex-direction: column;
    order: 1;
  }

  .gallery_icon a img {
    width: 65px;
    height: 65px;   
  }

  .gallery_bigImage {
    position: relative;
    order: 2;
  }
  .gallery_bigImage img {
    width: 100%;
  }

  .hexagon-bg-2::before {
   display: none;
  }


  .gallery_bigImage::after {
    /* content: "";
    position: absolute;
    right: -106%;
    top: -73%;
    z-index: -2; */



    content: "";
position: absolute;
/* left: 109px;
top: -650px; */
left: 5vw;
top: -37vw;
z-index: -2;
transform:rotate(90deg);
  }
}
