section .home {
  position: relative;
}

main aside img {
  transform: rotate(65.5deg);
}

main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--h2);
  letter-spacing: 2px;
}

main .introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
}

main .introduction h4 {
 
  font-family: var(--font-third);
  font-weight: normal;
  font-size: var(--p);
  padding: 1rem; 
align-self: center;
}

main .info {
  margin-top: 3rem;
}

main .info p {
  font-family: var(--font-second);
  font-size: var(--base-size);
  margin: 0;
  line-height: 90%;
}

/* buttons */

.btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-green {
  background-color: var(--green-dark);
}

.btn-orange {
  background-color: var(--gold);
}

.btn-green:hover {
  background-color: var(--green-light);
}

.btn-orange:hover {
  background-color: var(--orange);
}

.home_container {
  position: relative;
 
  filter: drop-shadow(-10px 20px 50px rgba(0, 0, 0, 0.25));
}


.hexagon-bg::before {
  content: "";

  position: absolute;
  left: -50.97%;
  right: 4.95%;
  top: -28%;
  bottom: -353.14%;
  width: 1812.744px;
  height: 2118.792px; 
  clip-path: var(--hexagon);
  transform: translateX(-922px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fbd965 57.81%,
    #fbd965 97.4%
  );

  transform: rotate(-90deg);
  z-index: -1;
}

@media (min-width: 200px) {
  main .introduction {
    padding: 1rem;
    height: 60vh;
  }
  .home header {
    height: 12vh;
  }
  section.home .logo img {
    height: 50px;
    align-self: baseline;
  }
  section.home .row {
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    align-self: baseline;
  }
  .btns {
    justify-content: space-evenly;
  }
  main aside img {
    display: none;
  }
  
  main .info {
    padding: 1rem;
    margin-top: 1rem;
    font-size: var(--text-sm);
  }
}

@media (min-width: 480px) {
  main .introduction {

    padding: 5rem;
  }
}

@media (min-width: 768px) {
  
  .home header {
    height: 25vh;
  }
  
  section.home .logo img {
    height: 80px;
  }
  main .introduction {
    padding: 3rem;
    width: 80vh;
    height: 47vh;
  }

  .home_container {  
    filter: drop-shadow(-10px 20px 50px rgba(0, 0, 0, 0.25));
    height: 20vw;
    width: 100%;
    margin-top: 7rem;
  }

  .home_container img {
    display: none;
  }

  .hexagon-small-1,
  .hexagon-small-2,
  .hexagon-small-3 {
    position: absolute;
    width: 19vw;
    height: 22vw;
    opacity: 80%;
    clip-path: var(--hexagon);
    background: var(--white);
    transform: rotate(-90deg);
  }

  .hexagon-small-1 {
    right: 11.15vw;
    top: 0.83vw;   
  }

  .hexagon-small-2 {
    right: -6.85vw;
    top: 10.83vw;  
  }

  .hexagon-small-3 {
    right: -6.85vw;
    top: -9.33vw; 
  }
}
@media (min-width: 1000px) {
  main .introduction {
    padding: 0;
  }
  main .introduction h4 {
    height: 40vh;
    width: 400px;
    align-self: center;
  }
  main aside {
    max-width: 18vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  main aside img {
  
    width: 240px;

    transform: rotate(65.5deg);
    opacity: 60%;
    margin-top: -4rem;
  }
  main .info {
   
    font-size: var(--p);
  }
}

@media (min-width: 1200px) {
  .btns {
    align-items: flex-start;
  }
  .home_container {
    position: absolute;
  }
  .home_container img {
    display: block;
    position: absolute;
    top: 15vw;
    right: 9vw;
    transform: rotate(-20deg);
    width: 100px;
  }
  .hexagon-small-1 {
    right: 11.15vw;
    top: 0.83vw;
    z-index: -2;
  }
 
}
