
#home .bottom {
  height: 80vh;
}

.home_container img {
  display: none;
}

main h1 {
  margin-top:10rem;
  /* position: relative; */
  text-align: center;
  /* text-transform: uppercase; */
  font-size: var(--h2);
  letter-spacing: 3px;
  font-family: inherit;
  color: var(--gray-dark);
  
}

main .introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

main .introduction h4 {
  font-family: var(--font-third);
  font-weight: normal;
  font-size: var(--p);
  padding: 1rem;
  align-self: center;
}

#home .info {
  margin-top: 3rem;
}

#home .info p {
  font-family: var(--font-second);
  font-size: var(--base-size);
  margin: 0;
  line-height: .9;
}
.btns {
  margin-top:5rem;
}

.btns  a {
  text-decoration: none;
 color: var(--black);
  display: inline-block;
}

.btn-dark {
  background-color: var(--black);

}
.btn.btn-dark  {
  color: var(--gray-light);
  
}

.btn-orange {
  background-color: var(--gold);
}

.btn-dark:hover {
  background-color: var(--gray-dark);
}

.btn-orange:hover {
  background-color: var(--cream);
}

.home_container {
  position: relative;
  filter: drop-shadow(-10px 20px 50px rgba(0, 0, 0, 0.25));
}

@media (min-width: 200px) {

  .btns {
    display: flex;
justify-content: space-evenly;
align-items: flex-start;
  }
  /* #home aside img {
    display: none;
  } */
  #home .info {   
    font-size: var(--text-sm);
  }
}
@media (min-width: 320px) {
 

  main .introduction h4 {
    padding: 1rem;
  }
}
@media (min-width: 480px) {
  main .introduction {
    padding: 2.5rem;
  }
  #home .info {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .home header {
    height: 20vh;
  }

  section.home .logo img {
    height: 90px;
  }

  .btns a {
    
    letter-spacing: 2px;
  }
}
@media (min-width: 1000px) {

  /* #home aside img {
    display: block;
} */
  main .introduction {
    padding: 0;
  }
  
  main .introduction h4 {
    width: 80%;
    align-self: center;
  }
  /* #home aside {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  #home aside img {
    width: 200px;
    transform: rotate(65.5deg);
    opacity: 40%;
    margin-top: 3rem;
  } */
  /* #home .info {
    font-size: var(--p);
    margin-bottom: 2rem;
  } */
  
  .hexagon-small-1,
  .hexagon-small-2,
  .hexagon-small-3 {
    position: absolute;
    width: 222px;
    height: 257px;
    /* opacity: 80%; */
    clip-path: var(--hexagon);
    background: var(--white);
    transform: rotate(-90deg);
  }

  .hexagon-small-1 {
    top: 180px;
  }
  
  .hexagon-small-2 {
    right: -287px;
    top: 296px;
  }   
  .hexagon-small-3 {
    right: -287px;
    top: 63px;
  }  
}
@media (min-width: 1200px) { 
  
  .home_container img {
    display: block;
    width: 50px;
    position: absolute;
    top: 175px;
    right: 3px;
    transform: rotate(-7deg);
}

  .hexagon-small-1 {
    top: 180px;
  }
  
  .hexagon-small-2 {
    right: -258px;
top: 296px;
  }   
  .hexagon-small-3 {
    right: -258px;
    top: 63px;
  }  

 }
  