.home main,
.about_container,
.gallery {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */


}
.home main {
  --columns: 16;
}
.about_container {
  --columns: 21;
  justify-content: space-between;
}
.gallery {
  --columns: 12;
}

main h1,
main aside,
main .introduction,
main .btns,
main .hexagon_container {
  --width: 16;
}

.about .hexagon-1,
.about .hexagon-2,
.about .hexagon-3 {
  --width: 21;
}


main h1,
main aside,
main .introduction,
main .btns,
main .hexagon_container,
.about .hexagon-1,
.about .hexagon-2,
.about .hexagon-3,
.gallery_icons,
.gallery_arrow,
.gallery_bgImage {
  --gap-constant: 0.3%;
  --initialbasis: calc(var(--width, 0) / var(--columns, 16) * 100%);
  --gap: calc((var(--columns, 16) - var(--width, 0)) * var(--gap-constant, 0.3%));
  flex-basis: calc(var(--initialbasis) - var(--gap));
}


@media (min-width: 950px) {}

@media (min-width: 1200px) {

  main h1 {
      --width: 16;
  }

  main aside {
      --width: 6;
  }

  main .introduction {
      --width: 6;
  }

  main .btns {
      --width: 6;
  }

  main .hexagon_container {
      --width: 4;
  }

  .about .hexagon-1 {
    --width: 7;
  }
  .about .hexagon-2 {
    --width: 7;
  }
  .about .hexagon-3 {
    --width: 7;
  }

  .gallery_icons{
    --width: 2;
  }
  .gallery_arrow {
    --width: 1;
  }
  .gallery_bigImage {
    --width: 9;
  }
}
