html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 1rem;
  background-color: var(--yellow);
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid black; */
}

section {
  max-height: 100vh;
}

aside img {
  width: 240px;
  margin-top: -3rem;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  transform: rotate(65.5deg);
}

main h1 {
  text-align: center;
  text-transform: uppercase;
}

main .introduction h4 {
  font-family: Sansita, sans-serif;
  height: 20vh;
  font-weight: normal;

}

main .info {
  margin-top: 3rem;
}

main .info p {
  font-family: Sansita, sans-serif;
  font-size: var(--base-size);
  margin: 0;
  padding: .1rem;
}

/* buttons */

.btns {
  display: flex;
  justify-content: space-between;

}

.btn {
  width: 10rem;
  height: 3rem;
  font-family: sansita, sans-serif;
  text-transform: uppercase;
  font-size: var(--h4);
  border-radius: 30px;
  border: 3px solid var(--black);

  padding: .3rem;
  background-color: var(--gold);
  cursor: pointer;
  box-shadow: -10px 20px 50px rgba(0, 0, 0, 0.25);
}

.btn-green {
  background-color: var(--green-dark);
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", cursive;
  font-weight: 600;
}

section>h1 {
  color: var(--black);
}

/* header styles */
header {
  font-weight: 400;
}