html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sansita);
  margin: 1rem;
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--black);
  /* overflow-x: hidden; */
}


header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-patua);
  font-weight: 600;
}

section>h1 {
  color: var(--black);
}



/* header styles */
header {
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid black; */
}

section {
height: 100vh;
  margin-bottom: 2rem;
}

body {
  overflow-x: hidden;
}
