section.tips {
  position: relative;
  display: flex;
  
  justify-content: center;
  align-items: center;

}
.tips_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 50vw;
  
  padding: 3rem 0;
  background: var(--white);
box-shadow: -10px 20px 50px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.tips_box .header {
  text-transform: uppercase;
  font-family: var(--font-first);
  font-size: var(--h3);
}

.slider {
  height: 70%;
  padding: 2rem;
}
.slider .slide {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 100%;  

  text-align: center;
  

}
.slide .quote {
  font-size: var(--h4);
  margin: 2rem 2rem;
  font-family: var(--font-second);
}
.slide address {
align-self: center;
}

 .slide-dots {
  display: flex;
  justify-content: center;

}

.slide-dots span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;   
  background-color: var(--gold);

/* Gray 1 */
border: 2px solid var(--black);
}
.slide-dots span:not(:last-of-type) {
  margin-right: 2rem;
}
.slide-dots span.active-dots {
  background-color: var(--green-dark);
}

.beater {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 30%;
  bottom: -73%;
  background: url(../img/beater.png);
      background-repeat: repeat;
  background-repeat: repeat;
  background-repeat: no-repeat;
  transform: rotate(72deg);
  opacity: 30%;
}

@media (max-width: 1000px) {
  .slide-dots span {
    width: 1.5rem;
    height: 1.5rem;
 
  }
  .beater {
    display: none;
  }
  .slide .quote {   
    margin: 1rem 1rem;
    font-family: var(--font-second);
  }
}

@media (max-width: 768px) {
  .tips_box {    
    width: 80vw;
    height: 65vw;
    padding: 2rem 0;
   
}
.slider {

  padding: 0;
}
.slider .slide {
  font-size: var(--text-sm);
}
}
@media (max-width: 480px) {

  .tips_box {  
  
    padding: 1rem 0;
   
}


.tips_box {   

  width: 95vw;
  height: 85vw; 
}
.slide-dots span {
  width: 1.2rem;
  height: 1.2rem;

}
.slide-dots span:not(:last-of-type) {
  margin-right: 1rem;
}

}@media (max-width: 320px) {
  .tips_box {   

    width: 95vw;
    height: 120vw; 
  }
}
